<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/fragments/resources :: head(pageTitle='Photos List')">
</head>
<body>
<nav th:replace="~{/fragments/navbar :: navbar(current='photos')}"></nav>
<div class="container">
    <h1>Photo List</h1>
    <!--    per messaggio di avvenuta cancellazione-->

    <div th:if="${message != null}" class="alert  alert-dismissible fade show"
         th:classAppend="${#strings.equalsIgnoreCase(message.type, 'SUCCESS')} ? 'alert-success' : 'alert-danger'">
        <div th:text="${message.message}"></div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

    </div>
    <div sec:authorize="hasAuthority('ADMIN')" class="d-flex justify-content-between align-items-center my-3">
        <a class="btn btn-primary" th:href="@{/photos/create}">Add photo</a>

        <div>
            <form th:action="@{/photos}" method="GET">

                <div class="input-group ">
                    <input type="search" class="form-control" placeholder="Search by name" name="keyword"
                           th:value="${searchInput}">
                    <button class="btn btn-outline-secondary" type="submit"><i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>

            </form>
        </div>
    </div>

    <table class="table" th:if="${photosList.size()>0}">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Url</th>
            <th scope="col">Visible</th>


            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="photo : ${photosList}">
            <td th:text="${photo.id}"></td>
            <td th:text="${photo.title}"></td>
            <td th:text="${photo.description}"></td>
            <td th:text="${photo.url} "></td>
            <td th:text="${photo.visible} "></td>
            <td>
                <div class="d-flex align-items-center gap-1 ">
                    <a class="btn btn-primary"
                       th:href="@{|/photos/${photo.id}|}"><i
                            class="  fa-solid fa-circle-info"></i></a>
                    <a sec:authorize="hasAuthority('ADMIN')" class="btn btn-primary "
                       th:href="@{|/photos/edit/${photo.id}|}"><i
                            class="fa-solid fa-pen-to-square"></i></a>
                    <form sec:authorize="hasAuthority('ADMIN')" th:action="@{|/photos/delete/${photo.id}|}"
                          method="post">
                        <button class=" btn btn-danger" type="submit"><i class="fa-regular fa-trash-can"></i></button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="alert alert-info" th:unless="${photosList.size()>0}">The list is empty</div>

</div>
</body>
</html>
