<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:insert="~{/fragments/resources :: head(pageTitle='Messages')}">
    </head>
<body>
<nav th:replace="~{/fragments/navbar :: navbar(current='messages')}"></nav>
<div class="container">
    <h1>Messages List</h1>

    <ul class="list-group " th:if="${messagesList.size > 0}">
        <li class="list-group-item d-flex justify-content-between align-items-center"
            th:each="message : ${messagesList}" th:object="${message}">
            <div>
                <span class="h5">From: </span>
                <p th:text="*{email}"></p>
                <span class="h5">Message: </span>
                <p th:text=" *{message}"></p>
            </div>

            <form
                    th:action="@{|/messages/delete/*{id}|}"
                    method="post"
            >
                <button class="btn btn-primary" type="submit"><i class="fa-solid fa-trash-can"></i>
                </button>
            </form>
        </li>
    </ul>


</div>
</body>
</html>